.head{
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    box-shadow: 0 0 20px rgb(31,160,180);
    

}
.name{
    background-color: rgb(31, 160, 180);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}
.contact{
    /* background-color: darkorange; */
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 0 20px rgb(31, 160, 180);
}
.work{
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 0 20px rgb(31, 160, 180);
}
.education{
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 0 20px rgb(31, 160, 180);
}
.skills{
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 0 20px rgb(31, 160, 180);
}
.button{
    border-radius: 10px;
    background-color: rgb(28, 156, 235); /* Green */
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.certificate{
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 0 20px rgb(31, 160, 180);
}
.lh{
    display: flex;
}
.languages{
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 0 20px rgb(31, 160, 180);
    width: 600px;
    height: 200px;
}
.hobbies{
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 0 20px rgb(31, 160, 180);
    width: 600px;
    height: 200px;
}
